
<h4 align='center' style='color: red' ng-show='er'>Error</h4>
<div class="main">
    <div class="site_header"></div>
    <div class="content">
        <center>
            <div id="form1">
                <h1><b>California Band Directors Association</b></h1>
                <h1><b>FIND MEMBERSHIP APPLICATION</b></h1>
                <form method="post" novalidate>
                    <table>
                        <tr>
                            <td>
                                <span class="left label col1"><b>Application ID:</b></span>
                                <span class="left"><input name="id" ng-model='auth.id' value="" size="26"/></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="left label col1"><b>Password:</b></span>
                                <span class="left"><input type="password" ng-model='auth.password' name="password" size="26"/></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="center">
                                <input class="button" type="submit" ng-click='login(auth)' value="FIND APPLICATION" />
                                <br />
                                <br />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </center>
    </div>
</div>
