<div class="main">
<div class="site_header"></div>
<div class="content">
<center>
<div id="form1">
<a href="membership_application_directions.html" 
target="Membership_Application_Directions">Membership Application 
Directions</a>
&nbsp;|&nbsp;
<a href="recording_instructions.html" 
target="Recording_Instructions">Recording Instructions</a>
&nbsp;|&nbsp;
<a href="membership_dues_and_fees_information.html" 
target="Recording_Instructions">Membership Dues and Fees 
Information</a>
&nbsp;|&nbsp;
<a href="privacy.html" 
target="Recording_Instructions">Privacy Statement</a>

<br /><br />

<h1><b>California Band Directors Association</b></h1>
<h1><b>2015-16 Membership and Student Applications</b></h1>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
<td><br>
<b>"Band Director:  Directions For Completing CBDA Membership and Student   Applications"</b>
<ul><li>1.  Type in all the required information below.</li>
    <li>2.  Click "submit" to save and submit forms electronically to CBDA.  You can sporadically enter data and submit again at a later date and information will be automatically updated. Clicking "submit" also saves your work.</li>
    <li>3.  When you finish typing in all information and click the last "submit" button, forms will appear on your screen for printing in hard copy.</li>
    <li>4.  Print the forms, get the required signatures, and mail with recording(s) and ONE PAYMENT, check, money order or proof of payment via Pay Pal for the total fees (Payable to CBDA) to:  Trish Adams, 2417 N. 11th Ave., Hanford, CA 93230</li>
</ul></td>
  </tr>
</table>
<span>(General Membership and All-State Applicants)</span><br>
<br>

<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

</style>
{{save}}
<form method='POST'  name='form' ng-controller='index' novalidate>
    <!-- <input type="hidden" name="method" value="confirm"/>
    <input type="hidden" name="login_key" value=""/> -->
<div class="errorMessage">Please correct errors first</div>

<table>
    <tr>
        <td width="25%">
            <span class="right label"><b>Director First Name:</b></span>
        </td>
        <td width="25%">
            <span class="left">
                <span ng-cloak ng-show="(form.director_first_name.$dirty && form.director_first_name.$error.required) || (form.$submitted && form.director_first_name.$error.required) && save" class='field_error'>Field is requried</span>
                <input name="director_first_name" tabindex="1" type="text" ng-model="user.director_first_name" required size='26' required/>
            </span>
        </td>
        <td width="25%">
            <span class="right label">Director's Main Instrument:</span>
        </td>
        <td width="25%">
            <span class="left"><input tabindex="13" name="directors_main_instrument" ng-model='user.directors_main_instrument' value="" size="26"/></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="right label">Director Middle Initial:</span>
        </td>
        <td>
            <span class="left"><input ng-model='user.director_middle_initial'  tabindex="2" name="director_middle_initial"  size="26"/></span>
        </td>
        <td>
            <input type="hidden" name='new_member' value=''>
            <span class="right"><input tabindex="14" id="c17" type="checkbox" ng-trim='false' ng-checked='user.new_member' initialize-property name="new_member" ng-model='user.new_member'  /></span>
        </td>
        <td>
            <span class="left label"><label for="c17">New Member Check Here</label></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="right label"><b>Director Last Name:</b></span>
        </td>
        <td>

            <span class="left">

                <span  ng-cloak ng-show="(form.director_last_name.$dirty && form.director_last_name.$error.required) || (form.$submitted && form.director_last_name.$error.required)  && save"  class='field_error'>Field is requried</span>
                <input tabindex='3'  name="director_last_name" type="text" ng-checked='user.director_last_name' ng-model="user.director_last_name" required  size='26'/>

            </span>

        </td>
        <td>
            <span class="right label"><b>School Name</b>:</span>
        </td>
        <td>
            <span class="left">

                <span ng-cloak ng-show="(form.school_name.$dirty && form.school_name.$error.required) || (form.$submitted && form.school_name.$error.required)  && save" class='field_error'>Field is requried</span>
                <input tabindex='15' name="school_name" type="text" ng-model="user.school_name" required  size='26'/>

            </span>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
            <span class="right label"><b>School Phone:</b></span>
        </td>
        <td>
            <span class="left">
                <span ng-cloak ng-show="(form.school_phone.$dirty && form.school_phone.$error.required) || (form.$submitted && form.school_phone.$error.required)  && save" class='field_error'>Field is requried</span>
                <input name="school_phone" ui-mask="(999) 999-9999" type="text" ng-model="user.school_phone" required tabindex='16'  size='26'/>
            </span>
        </td>
    </tr>

    <tr>
        <td>
            <span class="right label"><b>Home Phone:</b></span>
        </td>
        <td>

            <span class="left">

                <span ng-cloak ng-show="(form.home_phone.$dirty && form.home_phone.$error.required) || (form.$submitted && form.home_phone.$error.required)  && save"  class='field_error'>Field is requried</span>
                <input tabindex='4' name="home_phone" ui-mask="(999) 999-9999"  type="text" ng-model="user.home_phone" required  size='26'/>

            </span>

        </td>
        <td>
            <span class="right label"><b>Principal's Name:</b></span>
        </td>
        <td>
            <span class="left">

                <span ng-cloak ng-show="(form.principals_name.$dirty && form.principals_name.$error.required) || (form.$submitted && form.principals_name.$error.required)  && save" class='field_error'>Field is requried</span>
                <input name="principals_name" type="text" ng-model="user.principals_name" required tabindex="17" size='26'/>

            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="right label"><b>Address:</b></span>
        </td>
        <td>
            <span class="left">

                <span ng-cloak ng-show="(form.address.$dirty && form.address.$error.required) || (form.$submitted && form.address.$error.required)  && save" class='field_error'>Field is requried</span>
                <input name="address" type="text"  ng-model="user.address" required tabindex="5" size='26'/>

            </span>
        </td>
        <td>
            <span class="right"><input tabindex="18" id="c17" type="checkbox" ng-trim='false' ng-checked='user.past_president' initialize-property name="past_president" ng-model='user.past_president' /></span>
        </td>
        <td>
            <span class="left label"><label for="c23">Past President (NO FEE) Check Here</label></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="right label"><b>City:</b></span>
        </td>
        <td>
            <span class="left">

                <span ng-cloak ng-show="(form.city.$dirty && form.city.$error.required) || (form.$submitted && form.city.$error.required)  && save" class='field_error'>Field is requried</span>
                <input name="city" type="text" ng-model="user.city" required tabindex="6" size='26'/>

            </span>
        </td>
        <td>
            <span class="right label">Fax Number:</span>
        </td>
        <td>
            <span class="left"><input tabindex="19" name="fax" ui-mask="999-999-999" ng-model='user.fax' type='text' value=""/></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="right label"><b>State:</b></span>
        </td>
        <td>
            <span class="left sel"><span class="field_error" ng-cloak ng-show="(form.state.$dirty && form.state.$error.required) || (form.$submitted && form.state.$error.required)  && save">Field is requried</span><select required tabindex="7" style="display:inline;" ng-model='user.state' name="state">
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
            <option value="AR">AR</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DE">DE</option>
            <option value="FL">FL</option>
            </select></span>



        </td>
        <td>
            <span class="right label"><b>School Address:</b></span>
        </td>
        <td>
            <span class="left">

                <span ng-cloak ng-show="(form.school_address.$dirty && form.school_address.$error.required) || (form.$submitted && form.school_address.$error.required) && save"  class='field_error'>Field is requried</span>
                <input name="school_address" type="text" ng-model="user.school_address" required tabindex="20" size='26'/>

            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="right label"><b>Zip:</b></span>
        </td>
        <td>
            <span class="left">

                <span ng-cloak ng-show="(form.zip.$dirty && form.zip.$error.required) || (form.$submitted && form.zip.$error.required) && save"  class='field_error'>Field is requried</span>
                <input name="zip" type="text" ng-model="user.zip" required tabindex="8" size='26'/>

            </span>
        </td>
        <td>
            <span class="right label"><b>City:</b></span>
        </td>
        <td>
            <span class="left">

                <span ng-cloak ng-show="(form.school_city.$dirty && form.school_city.$error.required) || (form.$submitted && form.school_city.$error.required) && save" class='field_error'>Field is requried</span>
                <input name="school_city" type="text" ng-model="user.school_city" required tabindex="21" size='26'/>

            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="right label"><b>Email Address:</b></span>
        </td>
        <td>
            <span class="left">

                <span ng-cloak ng-show="(form.email.$dirty && form.email.$error.required) || (form.$submitted && form.email.$error.required ) && save" class='field_error'>Field is requried and must be email</span>
                <input name="email" type="text" ng-model="user.email" required tabindex="9" size='26'/>

            </span>
        </td>
        <td>
            <span class="right label"><b>State:</b></span>
        </td>
        <td>
            <span class="left sel"><span class="field_error" ng-cloak ng-show="(form.school_state.$dirty && form.school_state.$error.required) || (form.$submitted && form.school_state.$error.required)  && save">Field is requried</span><select tabindex="22" ng-model='user.school_state' name="school_state" required>
            <option value="ALASKA">ALASKA</option>
            <option value="ARIZONA">ARIZONA</option>
            <option value="ARKANSAS">ARKANSAS</option>
            <option value="CALIFORNIA">CALIFORNIA</option>
            <option value="COLORADO">COLORADO</option>
            <option value="CONNECTICUT">CONNECTICUT</option>
            <option value="DELAWARE">DELAWARE</option>
            </select></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="right label"><b>Confirm Email Address:</b></span>
        </td>
        <td>
            <span class="left">
                <span ng-cloak ng-show="(form.confirm_email.$dirty && form.confirm_email.$error.required) || (form.$submitted && form.confirm_email.$error.required) && save" class='field_error'>Field is requried and must be email</span>
                <span ng-cloak ng-show="form.confirm_email.$error.passwordVerify" class='field_error'>Email is not confirm</span>
                <input name="confirm_email" type="email" data-password-verify="user.email" ng-init='user.confirm_email = user.email' ng-model="user.confirm_email" required tabindex="10" size='26'/>
            </span>
        </td>
        <td>
            <span class="right label"><b>Zip:</b></span>
        </td>
        <td>
            <span class="left">

                <span ng-cloak ng-show="(form.school_zip.$dirty && form.school_zip.$error.required) || (form.$submitted && form.school_zip.$error.required) && save" class='field_error'>Field is requried</span>
                <input name="school_zip" type="text" ng-model="user.school_zip" required tabindex="23" size='26'/>

            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="right label"><b>Password:</b></span>
        </td>
        <td>
            <span class="left">

                <span ng-cloak ng-show="(form.password.$dirty && form.password.$error.required) || (form.$submitted && form.password.$error.required)" class='field_error'>Field is requried</span>
                <input name="password" type="password" ng-model="user.password" required tabindex="11" size='26'/>

            </span>
        </td>
        <td style="vertical-align:top;"> 
            <span class="right"><input tabindex="24" id="c31"  type="checkbox" initialize-property ng-model='user.i_ll_help_with_auditions' ng-checked='user.i_ll_help_with_auditions' name="i_ll_help_with_auditions" value="1" /></span>
        </td>
        <td>
            <span class="left label" style="position:relative;">
            <label for="c31" style="position:absolute;width:210px;top:-1.4em;">I'll help with live auditions at 11:00 am on Thursday, Feb 11</label></span>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><small>(Use combination of upper and lower case letters and numbers for security purposes)</small></td>
        <td>
            <span class="right"><input tabindex="25" id="c31" type="checkbox" ng-trim='false' initialize-property ng-model='user.i_m_playing_in_reading_band' ng-checked='user.i_m_playing_in_reading_band' name="i_m_playing_in_reading_band" value="1" /></span>

        </td>
        <td>
            <span class="left label"><label for="c32">I'm playing in reading band</label></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="right label"><b>Retype-Password:</b></span>
        </td>
        <td>
            <span class="left">

                <span ng-cloak ng-show="(form.re_password.$dirty && form.re_password.$error.required) || (form.$submitted && form.re_password.$error.required)" class='field_error'>Field is requried</span>
                <span ng-cloak ng-show="form.re_password.$error.passwordVerify" class='field_error'>Pasword is not confirm</span>
                <input name="re_password" type="password" data-password-verify="user.password" ng-init='user.rePassword = user.password' ng-model="user.rePassword" required tabindex="12" size='26'/>

            </span>
        </td>
        <td style="vertical-align:top;">
            <span class="right"><input tabindex="26" id="c31" type="checkbox" ng-trim='false' ng-checked='user.do_not_publish_my_home_contact' initialize-property name="do_not_publish_my_home_contact" ng-model='user.do_not_publish_my_home_contact' value="1" /></span>

        </td>
        <td>
            <span class="left label"><label for="c33">Do not publish my home contact information in the Directory</label></span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <small>(The password creates your online account and will allow you to add/delete/edit data at a later time.)</small>
        </td>
        <td style="vertical-align:top;">
            <span class="right"><input tabindex="27" id="c31" type="checkbox" ng-trim='false' ng-checked='user.do_not_share_my_email' initialize-property name="do_not_share_my_email" ng-model='user.do_not_share_my_email' value="1" /></span>
        </td>
        <td>
            <span class="left label"><label for="c34">Do not share my email with third parties. (colleges, universities, music camps)</label></span>
        </td>
    </tr>
    <tr>
        <td colspan="4"><h3>Payment for Membership Fees</h3></td>
    </tr>
    <tr>
        <td colspan="4">
            <div style="font-size:16px;font-weight:bold;">
                
                <input tabindex="28" id="membership_type1" type="radio" name="membership_type"  value="membership_only" ng-model="user.membership_type"/><label for="membership_type1">Membership Only</label>
                <input tabindex="29" id="membership_type2" type="radio" name="membership_type"  value="membership_with_cd" ng-model="user.membership_type" /><label for="membership_type2">Membership with CD submission (only CD's are accepted)</label>
                <br /><br />
            </div>
            <table class="fees" id="fees_table" ng-cloak ng-show="user.membership_type" >
                <tr>
                    <td colspan="3" valign="top"><h4><b>Director's Annual Membership Dues:</b></h4> (CBDA Dues Only)</td>
                    <td class="border_left" rowspan="8"></td>
                    <td class="border_left" rowspan="8" align="center" valign="top">
                        Membership from<br />
                        Dec. 15 - Nov. 16<br />
                        (Required for<br />
                        Audition Submission)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Dues are $50.00 unless otherwise noted below</td>
                </tr>

                 

                <tr>
                    <td></td>
                    <td><label for="c1"><input tabindex="35" id="c1" type="radio" name="annual_dues" rel="50.00" ng-model='user.annual_dues'  value="10"/> Active Elementary School Band Director</label></td>
                    <td><label for="c2"><input tabindex="35" id="c2" type="radio" name="annual_dues" rel="50.00" ng-model='user.annual_dues' value="20"/> Associate Member</label></td>
                </tr>
                <tr>                    +
                    <td></td>
                    <td><label for="c3"><input tabindex="35" id="c3" type="radio" name="annual_dues" rel="50.00" ng-model='user.annual_dues'  value="30"/> Active Middle/Junior High Band Director</label></td>
                    <td><label for="c4"><input tabindex="35" id="c4" type="radio" name="annual_dues" rel="25.00" ng-model='user.annual_dues' value="25" /> Retired Band Director ($25.00)</label></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="c5"><input tabindex="35" id="c5" type="radio" name="annual_dues" rel="50.00" ng-model='user.annual_dues' value="550" /> Active High School Band Director</label></td>
                    <td><label for="c6"><input tabindex="35" id="c6" type="radio" name="annual_dues" rel="10.00" ng-model='user.annual_dues' value="100" /> College Student ($10.00)</label></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="c7"><input tabindex="35" id="c7" type="radio" name="annual_dues" rel="50.00" ng-model='user.annual_dues' value="600" /> Active College Band Director</label></td>
                    <td><label for="c8"><input tabindex="35" id="c8" type="radio" name="annual_dues" rel="00.00" ng-model='user.annual_dues' value="140" /> Past President/LifeMember ($0.00)</label></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="c9"><input tabindex="35" id="c9" type="radio" name="annual_dues" rel="50.00" ng-model='user.annual_dues' value="75" /> Music Administrator</label></td>
                    <td><label for="c10"><input tabindex="35" id="c10" type="radio" name="annual_dues" rel="50.00" ng-model='user.annual_dues' value="70" /> Associate Institutional (Music Industry)</label></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"><label for="c11"><input tabindex="35" id="c11" type="radio" name="annual_dues" rel="00.00" ng-model='user.annual_dues' value="0" /> Already a Current Member(if adding an additional school - <i>subject to verification</i>)</label></td>
                </tr>
                <tr>
                    <td class="border_bottom"></td>
                    <td class="border_bottom"></td>
                    <td class="border_bottom"></td>
                    <td class="border_left border_bottom">$<input name="annual_dues_total" size="6" class="disabled" value='{{user.annual_dues}}' disabled/></td>
                    <td class="border_left border_bottom"><b>$50</b></td>
                </tr>

                <tr>
                    <td colspan="3" valign="top"><h4><b>Conference Fee:</b></h4></td>
                    <td class="border_left"></td>
                    <td class="border_left"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"><input tabindex="36" id="c20" ng-model='user.pre_registration_member' type="radio" name="pre_registration_member"  name="pre_registration_member" ng-model='user.pre_registration_member' value="85" /><label for="c20"> Member Registration fees: Active/$85; Retired/$35; Coillege Student/$25</label></td>
                    <td class="border_left">$<input name="pre_registration" size="6" value='{{user.pre_registration_member}}' class="disabled" disabled/></td>
                    <td class="border_left"><b>$<span id="pre_registration_fee_value"></span></b><br />Regular Members</td>
                </tr><br /><tr>
                    <td></td>
                    <td colspan="2"><input tabindex="36" value='135' id="c20" type="radio" name="pre_registration_member" ng-model='user.pre_registration_member' /><label for="c20"> Non-member registration fee: $135</label></td>
                    <td class="border_left"></td>
                    <td class="border_left"><b>$135</b><br />Non-Members</td>
                </tr>
                <tr>
                    <td class="border_bottom"></td>
                    <td class="border_bottom" colspan="2">
                        <input type="hidden" name='banquet' value=''>
                        <input tabindex="37" ng-model="checked" id="c21" type="checkbox" ng-trim='false' ng-checked='user.banquet' initialize-property ng-model='user.banquet' name="banquet"    value="1" /><label for="c21"> CBDA Banquet</label>
                        <input tabindex="38" name="banquet_attendings_number" value="" ng-readonly="!checked" size="5" ng-model='user.banquet_attendings_number' class="disabled" readonly="readonly" /> attending @ $45.00 per person
                    </td>
                    <td class="border_left border_bottom">$<input name="banquet_fee" size="6"  class="disabled" disabled ng-if='checked' value='{{ user.banquet_attendings_number ? 45 * user.banquet_attendings_number : 0 }}' /></td>
                    <td class="border_left border_bottom">Banquet $45.00 ea.<br />(optional)</td>
                </tr>
            <tbody id="membership_type_membership_with_cd" ng-cloak ng-show="user.membership_type == 'membership_with_cd'">
                <tr>
                    <td class="border_bottom" colspan="3"><h4><b>School Fee:</b></h4> (required of all schools submitting All-State audition CD's)</td>
                    <td class="border_left border_bottom">$<input name="school_fee"  value="55.00"  size="6" class="disabled" disabled/></td>
                    <td class="border_left border_bottom">(Required for Audition Submissions)<br /><b>$55.00</b></td>
                </tr>

                <tr>
                    <td class="border_left" colspan="3" valign="top"><h4><b>Student Fees:</b></h4></td>
                    <td class="border_left"></td>
                    <td class="border_left"></td>
                </tr>

                <tr>
                    <td class="border_bottom"  colspan="3">

                        <div class="student_fees" ng-if="user.membership_type == 'membership_with_cd'" ng-repeat="item in items track by $index">

                            <div class="student_fee">
                                <table>
                                    <input type="hidden" name='id' ng-if="user.membership_type == 'membership_with_cd'" ng-init='user.s.id[$index] = item.id' ng-model='user.s.id[$index]'>
                                    <tr>
                                        <td colspan="4" class="studentHead">Student <span class="student_number"></span> Information <span class="delete_student" style="display:none;"><a href="#" >DELETE STUDENT</a></span></td>
                                    </tr>

                                    <tr>
                                        <th><b>Band:</b></th>
                                        <td>
                                            <span  class='field_error' ng-show="(form['s[band][]'].$dirty && form['s[band][]'].$error.required) || (form.$submitted && form['s[band][]'].$error.required) && save">Field is requried</span>
                                            <select name="s[band][]" ng-model='user.s.band[$index]' ng-if="user.membership_type == 'membership_with_cd'" ng-init='user.s.band[$index] = item.band' required>
                                                <option value="">Select One</option>
                                                <option value="2">CBDA High School All-State Honor Band</option>
                                                <option value="4">CODA High School All-State Orchestra</option>
                                                <option value="5">Either the All-State Band OR the All-State Orchestra</option>
                                                <option value="1">CBDA Junior High School All-State Honor Bands (Symphonic, Concert)</option>
                                                <option value="3">CBDA/CAJ High School All-State Jazz Band</option>
                                                <option value="6">CBDA/CAJ Junior High All State Jazz Band</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <b>Instrument:</b>
                                        </th>
                                        <td>
                                            <span  class='field_error' ng-show="(form['s[instrument][]'].$dirty && form['s[instrument][]'].$error.required) || (form.$submitted && form['s[instrument][]'].$error.required) && save">Field is requried</span>
                                            <select name="s[instrument][]" ng-model='user.s.instrument[$index]' ng-if="user.membership_type == 'membership_with_cd'"  ng-init='user.s.instrument[$index] = item.instrument' required>
                                                <option value="">Select One</option>
                                                <option value="49">Alto Saxophone</option>
                                                <option value="50">Tenor Saxophone</option>
                                                <option value="51">Baritone Saxophone</option>
                                                <option value="52">Trumpet</option>
                                                <option value="53">Trombone</option>
                                                <option value="54">Bass Trombone</option>
                                                <option value="55">Piano</option>
                                                <option value="56">Guitar</option>
                                                <option value="57">Bass</option>
                                                <option value="58">Drums</option>
                                                <option value="59">Vibes</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><b>Student First Name:</b></th>
                                        <td>
                                            <span ng-show="(form['s[first_name][]'].$dirty && form['s[first_name][]'].$error.required) || (form.$submitted && form['s[first_name][]'].$error.required) && save" class='field_error'>Field is requried</span>
                                            <input ng-if="user.membership_type == 'membership_with_cd'" name="s[first_name][]" ng-init='user.s.first_name[$index] = item.first_name' type="text" ng-model="user.s.first_name[$index]" required size='26' />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Student Middle Initial:</th>
                                        <td>
                                            <input name="s[middle_initial][]" ng-if="user.membership_type == 'membership_with_cd'" ng-model='user.s.middle_initial[$index]' ng-init='user.s.middle_initial[$index] = item.middle_initial[$index]' value="" size="26" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><b>Student Last Name:</b></th>
                                        <td>
                                            <span ng-show="(form['s[last_name][]'].$dirty && form['s[last_name][]'].$error.required) || (form.$submitted && form['s[last_name][]'].$error.required) && save" class='field_error'>Field is requried</span>
                                            <input ng-if="user.membership_type == 'membership_with_cd'" ng-init='user.s.last_name[$index] = item.last_name'  name="s[last_name][]" type="phones" ng-model="user.s.last_name[$index]" required size='26' />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <b>Home Phone:</b>
                                        </th>
                                        <td>
                                            <span ng-show="(form['s[home_phone][]'].$dirty && form['s[home_phone][]'].$error.required) || (form.$submitted && form['s[home_phone][]'].$error.required) && save" class='field_error'>Field is requried</span>
                                            <input ui-mask='(999)-999-999' ng-if="user.membership_type == 'membership_with_cd'" ng-init='user.s.home_phone[$index] = item.home_phone' name="s[home_phone][]" type="text" ng-model="user.s.home_phone[$index]" required size='26' />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <b>Address:</b>
                                        </th>
                                        <td>
                                            <span ng-show="(form['s[address][]'].$dirty && form['s[address][]'].$error.required) || (form.$submitted && form['s[address][]'].$error.required) && save" class='field_error'>Field is requried</span>
                                            <input ng-if="user.membership_type == 'membership_with_cd'" name="s[address][]" type="text" ng-init='user.s.address[$index] = item.address' ng-model="user.s.address[$index]" required size='26' />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <b>City:</b>
                                        </th>
                                        <td>
                                            <span ng-show="(form['s[city][]'].$dirty && form['s[city][]'].$error.required) || (form.$submitted && form['s[city][]'].$error.required) && save" class='field_error'>Field is requried</span>
                                            <input ng-if="user.membership_type == 'membership_with_cd'" ng-init='user.s.city[$index] = item.city' name="s[city][]" type="text" ng-model="user.s.city[$index]" required size='26' />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><b>State:</b></th>
                                        <td>
                                            <input type="hidden" name="state" value="CA">CA</td>
                                    </tr>
                                    <tr>
                                        <th><b>Zip:</b></th>
                                        <td>
                                            <span ng-show="(form['s[zip][]'].$dirty && form['s[zip][]'].$error.required) || (form.$submitted && form['s[zip][]'].$error.required) && save" class='field_error'>Field is requried</span>
                                            <input ng-if="user.membership_type == 'membership_with_cd'" ng-init='user.s.zip[$index] = item.zip' name="s[zip][]" type="text" ng-model="user.s.zip[$index]" required size='26' />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Parent Email:</th>
                                        <td>
                                            <input name="s[parent_email][]" ng-if="user.membership_type == 'membership_with_cd'" value="" size="26" ng-init='user.s.parent_email[$index] = item.parent_email'  ng-model='user.s.parent_email[$index]'/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Student Email:</th>
                                        <td>
                                            <input name="s[student_email][]" ng-if="user.membership_type == 'membership_with_cd'" value="" size="26" ng-init='user.s.student_email[$index] = item.student_email' ng-model='user.s.student_email[$index]'/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><b>Gender:</b></th>
                                        <td>
                                            <span  class='field_error' ng-show="(form['s[gender][]'].$dirty && form['s[gender][]'].$error.required) || (form.$submitted && form['s[gender][]'].$error.required) && save">Field is requried</span>
                                            <select name="s[gender][]" ng-model='user.s.gender[$index]' ng-if="user.membership_type == 'membership_with_cd'" ng-init='user.s.gender[$index] = item.gender'  required>
                                                <option value="">Select One</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><b>Current Grade:</b></th>
                                        <td>
                                            <span  class='field_error' ng-show="(form['s[grade_year][]'].$dirty && form['s[grade_year][]'].$error.required) || (form.$submitted && form['s[grade_year][]'].$error.required) && save">Field is requried</span>
                                            <select ng-if="user.membership_type == 'membership_with_cd'" name="s[grade_year][]" ng-model='user.s.grade_year[$index]' ng-init='user.s.grade_year[$index] = item.grade_year' required>
                                                <option value="">Select One</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><b>Year You Graduate High School:</b></th>
                                        <td>
                                            <span  class='field_error' ng-show="(form['s[high_school_year][]'].$dirty && form['s[high_school_year][]'].$error.required) || (form.$submitted && form['s[high_school_year][]'].$error.required) && save">Field is requried</span>
                                            <select ng-if="user.membership_type == 'membership_with_cd'" name="s[high_school_year][]" ng-model='user.s.high_school_year[$index]' ng-init='user.s.high_school_year[$index] = item.high_school_year' required>
                                                <option value="">Select One</option>
                                                <option value="2016">2016</option>
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tbody id="s[1_clarinet_slave" style="display:none;">
                                        <tr>
                                            <td colspan="2">
                                                <label for="c7_s[1">
                                                    <input id="c7_s[1" type="checkbox" ng-trim='false' ng-checked='user.s.have_access_to_and_experience_playing_on_a_clarinet' initialize-property name="have_access_to_and_experience_playing_on_a_clarinet" ng-model='user.s.have_access_to_and_experience_playing_on_a_clarinet' value="1" /> If you are auditioning on Clarinet please check this box if you have access to AND experience playing on <b>Clarinet in A</b>
                                                </label>
                                            </td>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tr>
                                        <td colspan="2">
                                            <label for="c6_s[1">
                                                <input id="c6_s[1" type="checkbox" ng-trim='false' ng-checked='user.s.give_my_name[$index]' ng-if="user.membership_type == 'membership_with_cd'" ng-init='user.s.give_my_name[$index] = item.give_my_name' initialize-property name="give_my_name" ng-model='user.s.give_my_name[$index]' value="1" /> Please feel free to give my name and address to colleges, universities, and music camps</label>
                                        </td>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="add_student"><span href="#" class='href' ng-click='addStudetn(user.s)'>ADD STUDENT</span><div>
                    </td>
                    <td class="border_left" valign="top">$<input name="student_fee" value='55' ng-model='user.s.student_fee[$index]' ng-if="user.membership_type == 'membership_with_cd'" size="6" class="disabled" disabled/></td>
                    <td class="border_left" valign="top">
                        (Required for Auditions)<br />
                        2 Fees Required when<br />
                        same student applies for<br />
                        Concert and Jazz Band
                    </td>
                </tr>
            </tbody>
                <tr>
                    <td class="border_bottom border_top" colspan="3"><h4><b>Donations to the Don Schmeer Scholarship Trust Fund</b></h4></td>
                    <td class="border_bottom border_top border_left">$<input name="donat" ng-model='user.s.donat[$index]' ng-if="user.membership_type == 'membership_with_cd'" value="" size="6"/></td>
                    <td class="border_bottom border_top border_left">Enter Donation</td>
                </tr>

                <tr>
                    <td colspan="5">
                        <h4><b>TOTAL</b></h4>
                        (Auditions are not accepted unless director is current CBDA member)
                        $<input name="fee_total" value="{{ (user.annual_dues  -- user.s.pre_registration_member -- totalStudentFee -- user.s.donat -- (user.s.banquet_attendings_number ? 45 * user.s.banquet_attendings_number : 0)) + 55 + user.s.totalStudentFee}}" size="6" class="disabled" disabled/>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" align="right">
                        One Payment Please<br />
                        <b><i>All fees non-refundable</i></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" id="payment_options" style="display:none;">
            Payment Options:
            <input id="payment_options1" type="radio" name="payment_options" ng-model='user.payment_options' value="check_number"/><label for="payment_options1">Payment by Check</label>
            <input id="payment_options2" type="radio" name="payment_options" ng-model='user.payment_options' value="money_order"/><label for="payment_options2">Money Order</label>
            <input id="payment_options3" type="radio" name="payment_options" ng-model='user.payment_options' value="credit_card" checked/><label for="payment_options3">Credit card (PayPal)</label>
        </td>
    </tr>
    <tr>
        <td colspan="4" class="center">
            <input class="button" type="submit" ng-model='user.methodSub' ng-click='saveSubmit(user)' name='methodSub' value="SAVE"/>
            <input class="button" type="submit" ng-click='submit(user)' value="SUBMIT"/>
            <br/><br/>
        </td>
    </tr>
</table>
</form>

</div>
</center>
