<div class="main">
    <div class="site_header"></div>
    <div class="content">
        <center>

            <div id="form1">

                <font size="5">Congratulations!</font>
                <br>
                <br> Your information has been saved successfully.
                <br />

                <font size="3"><b>Please write down Application ID and password and save for future entries and edits.</b></font>
                <br> in order to complete your application.
                <br>
                <br /> Application ID: <b>{{saveData.id}}</b>
                <br /> Password: <b>{{saveData.password}}</b>
                <br>
                <p><a href="#/form/edit">Edit Saved Form</a>
                    <br />
                </p>
            </div>

        </center>
    </div>
</div>
