<div>
	<h1>data CRUD</h1>
	
	<p>{{ message }}</p>
	<form role="form" name="myForm">

			<div class="form-group">
		    <label> Director first name </label>
		    <div>
		        <input name="director_first_name" ng-model="createdModel.director_first_name" class="form-control" placeholder="Director first name">
		    </div>
		</div>
		<div class="form-group">
		    <label> Director middle initial </label>
		    <div>
		        <input name="director_middle_initial" ng-model="createdModel.director_middle_initial" class="form-control" placeholder="Director middle initial">
		    </div>
		</div>
		<div class="form-group">
		    <label> Director last name </label>
		    <div>
		        <input name="director_last_name" ng-model="createdModel.director_last_name" class="form-control" placeholder="Director last name">
		    </div>
		</div>
		<div class="form-group">
		    <label> Home phone </label>
		    <div>
		        <input name="home_phone" ng-model="createdModel.home_phone" class="form-control" placeholder="Home phone">
		    </div>
		</div>
		<div class="form-group">
		    <label> Address </label>
		    <div>
		        <input name="address" ng-model="createdModel.address" class="form-control" placeholder="Address">
		    </div>
		</div>
		<div class="form-group">
		    <label> City </label>
		    <div>
		        <input name="city" ng-model="createdModel.city" class="form-control" placeholder="City">
		    </div>
		</div>
		<div class="form-group">
		    <label> State </label>
		    <div>
		        <input name="state" ng-model="createdModel.state" class="form-control" placeholder="State">
		    </div>
		</div>
		<div class="form-group">
		    <label> Zip </label>
		    <div>
		        <input name="zip" ng-model="createdModel.zip" class="form-control" placeholder="Zip">
		    </div>
		</div>
		<div class="form-group">
		    <label> Email </label>
		    <div>
		        <input name="email" ng-model="createdModel.email" class="form-control" placeholder="Email">
		    </div>
		</div>
		<div class="form-group">
		    <label> Password </label>
		    <div>
		        <input name="password" ng-model="createdModel.password" class="form-control" placeholder="Password">
		    </div>
		</div>
		<div class="form-group">
		    <label> Directors main instrument </label>
		    <div>
		        <input name="directors_main_instrument" ng-model="createdModel.directors_main_instrument" class="form-control" placeholder="Directors main instrument">
		    </div>
		</div>
		<div class="form-group">
		    <label> New member </label>
		    <div>
		        <input name="new_member" ng-model="createdModel.new_member" class="form-control" placeholder="New member">
		    </div>
		</div>
		<div class="form-group">
		    <label> School name </label>
		    <div>
		        <input name="school_name" ng-model="createdModel.school_name" class="form-control" placeholder="School name">
		    </div>
		</div>
		<div class="form-group">
		    <label> School phone </label>
		    <div>
		        <input name="school_phone" ng-model="createdModel.school_phone" class="form-control" placeholder="School phone">
		    </div>
		</div>
		<div class="form-group">
		    <label> Principals name </label>
		    <div>
		        <input name="principals_name" ng-model="createdModel.principals_name" class="form-control" placeholder="Principals name">
		    </div>
		</div>
		<div class="form-group">
		    <label> Past president </label>
		    <div>
		        <input name="past_president" ng-model="createdModel.past_president" class="form-control" placeholder="Past president">
		    </div>
		</div>
		<div class="form-group">
		    <label> Fax </label>
		    <div>
		        <input name="fax" ng-model="createdModel.fax" class="form-control" placeholder="Fax">
		    </div>
		</div>
		<div class="form-group">
		    <label> School address </label>
		    <div>
		        <input name="school_address" ng-model="createdModel.school_address" class="form-control" placeholder="School address">
		    </div>
		</div>
		<div class="form-group">
		    <label> School city </label>
		    <div>
		        <input name="school_city" ng-model="createdModel.school_city" class="form-control" placeholder="School city">
		    </div>
		</div>
		<div class="form-group">
		    <label> School state </label>
		    <div>
		        <input name="school_state" ng-model="createdModel.school_state" class="form-control" placeholder="School state">
		    </div>
		</div>
		<div class="form-group">
		    <label> School zip </label>
		    <div>
		        <input name="school_zip" ng-model="createdModel.school_zip" class="form-control" placeholder="School zip">
		    </div>
		</div>
		<div class="form-group">
		    <label> I ll help with auditions </label>
		    <div>
		        <input name="i_ll_help_with_auditions" ng-model="createdModel.i_ll_help_with_auditions" class="form-control" placeholder="I ll help with auditions">
		    </div>
		</div>
		<div class="form-group">
		    <label> I m playing in reading band </label>
		    <div>
		        <input name="i_m_playing_in_reading_band" ng-model="createdModel.i_m_playing_in_reading_band" class="form-control" placeholder="I m playing in reading band">
		    </div>
		</div>
		<div class="form-group">
		    <label> Do not publish my home contact </label>
		    <div>
		        <input name="do_not_publish_my_home_contact" ng-model="createdModel.do_not_publish_my_home_contact" class="form-control" placeholder="Do not publish my home contact">
		    </div>
		</div>
		<div class="form-group">
		    <label> Do not share my email </label>
		    <div>
		        <input name="do_not_share_my_email" ng-model="createdModel.do_not_share_my_email" class="form-control" placeholder="Do not share my email">
		    </div>
		</div>
		<div class="form-group">
		    <label> Membership type </label>
		    <div>
		        <input name="membership_type" ng-model="createdModel.membership_type" class="form-control" placeholder="Membership type">
		    </div>
		</div>
		<div class="form-group">
		    <label> Annual dues </label>
		    <div>
		        <input name="annual_dues" ng-model="createdModel.annual_dues" class="form-control" placeholder="Annual dues">
		    </div>
		</div>
		<div class="form-group">
		    <label> Pre registration member </label>
		    <div>
		        <input name="pre_registration_member" ng-model="createdModel.pre_registration_member" class="form-control" placeholder="Pre registration member">
		    </div>
		</div>
		<div class="form-group">
		    <label> Pre registration non member </label>
		    <div>
		        <input name="pre_registration_non_member" ng-model="createdModel.pre_registration_non_member" class="form-control" placeholder="Pre registration non member">
		    </div>
		</div>
		<div class="form-group">
		    <label> Banquet </label>
		    <div>
		        <input name="banquet" ng-model="createdModel.banquet" class="form-control" placeholder="Banquet">
		    </div>
		</div>
		<div class="form-group">
		    <label> Banquet attendings number </label>
		    <div>
		        <input name="banquet_attendings_number" ng-model="createdModel.banquet_attendings_number" class="form-control" placeholder="Banquet attendings number">
		    </div>
		</div>
		<div class="form-group">
		    <label> Payment options </label>
		    <div>
		        <input name="payment_options" ng-model="createdModel.payment_options" class="form-control" placeholder="Payment options">
		    </div>
		</div>
		<div class="form-group">
		    <label> Payment status </label>
		    <div>
		        <input name="payment_status" ng-model="createdModel.payment_status" class="form-control" placeholder="Payment status">
		    </div>
		</div>
		<div class="form-group">
		    <label> Status </label>
		    <div>
		        <input name="status" ng-model="createdModel.status" class="form-control" placeholder="Status">
		    </div>
		</div>
		<div class="form-group">
		    <label> Hash </label>
		    <div>
		        <input name="hash" ng-model="createdModel.hash" class="form-control" placeholder="Hash">
		    </div>
		</div>
		<div class="form-group">
		    <label> Donat </label>
		    <div>
		        <input name="donat" ng-model="createdModel.donat" class="form-control" placeholder="Donat">
		    </div>
		</div>


		<a href="#/admin/index" class="btn btn-default">Cancel</a>
		<button ng-click="createData(createdModel);" 
                ng-disabled="myForm.$invalid"
                type="submit" class="btn btn-default">Submit</button>
	</form>
</div>