<div>
	<h1>CBDA DATA</h1>	
	<p>{{ message }}</p>
	<div ng-show="data.length > 0">
	<a class="btn btn-primary" href="#/admin/create">
		<i class="glyphicon glyphicon-plus"></i> Create
	</a>
	<table class="table table-striped table-hover">
	<thead>
	<th>Id</th>
	<th>Director first name</th>
	<th>Director middle initial</th>
	<th>Director last name</th>
	<th style="width:80px;">Action&nbsp;</th>
	</thead>
	<tbody>
		<tr ng-repeat="elem in data">
			<td>{{elem.id}}</td>
			<td>{{elem.director_first_name}}</td>
			<td>{{elem.director_middle_initial}}</td>
			<td>{{elem.director_last_name}}</td>
			<td>
			<a class="btn btn-primary btn-xs" href="#/admin/view/{{elem.id}}">
				<i class="glyphicon glyphicon-eye-open"></i>
			</a> 
			<a class="btn btn-primary btn-xs" href="#/admin/update/{{elem.id}}">
				<i class="glyphicon glyphicon-pencil"></i>
			</a> 
			<a class="btn btn-danger btn-xs" ng-click="deleteData(elem.id)">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
			</td>
		</tr>
	</tbody>
	</table>
	</div>
	<div ng-show="data.length == 0">
		Empty
	</div>
</div>