<h3 align='center' ng-show='error' style='color: red'>Error</h3>
<form novalidate method='post'>
	<input type="text" name='username' ng-model='model.username' placeholder='login'></br></br>
	<input type="password" name='password' ng-model='model.password' placeholder='password'></br></br>
	<input type="submit" ng-click='loginize(model)'></br>
</form>