<div>
	<h1>Update</h1>
	
	<p>{{ message }}</p>
	<form role="form" name="myForm">

		<h2 align='center'>Form data</h2>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
					    <label> Fax </label>
					    <div>
					        <input name="fax" ng-model="updateDataElem.fax" class="form-control" placeholder="Fax">
					    </div>
					</div>
					<div class="form-group">
					    <label> School address </label>
					    <div>
					        <input name="school_address" ng-model="updateDataElem.school_address" class="form-control" placeholder="School address">
					    </div>
					</div>
					<div class="form-group">
					    <label> School city </label>
					    <div>
					        <input name="school_city" ng-model="updateDataElem.school_city" class="form-control" placeholder="School city">
					    </div>
					</div>
					<div class="form-group">
					    <label> School state </label>
					    <div>
					        <input name="school_state" ng-model="updateDataElem.school_state" class="form-control" placeholder="School state">
					    </div>
					</div>
					<div class="form-group">
					    <label> School zip </label>
					    <div>
					        <input name="school_zip" ng-model="updateDataElem.school_zip" class="form-control" placeholder="School zip">
					    </div>
					</div>
					<div class="form-group">
					    <label> I ll help with auditions </label>
					    <div>
					        <input name="i_ll_help_with_auditions" ng-model="updateDataElem.i_ll_help_with_auditions" class="form-control" placeholder="I ll help with auditions">
					    </div>
					</div>
					<div class="form-group">
					    <label> I m playing in reading band </label>
					    <div>
					        <input name="i_m_playing_in_reading_band" ng-model="updateDataElem.i_m_playing_in_reading_band" class="form-control" placeholder="I m playing in reading band">
					    </div>
					</div>
					<div class="form-group">
					    <label> Do not publish my home contact </label>
					    <div>
					        <input name="do_not_publish_my_home_contact" ng-model="updateDataElem.do_not_publish_my_home_contact" class="form-control" placeholder="Do not publish my home contact">
					    </div>
					</div>
					<div class="form-group">
					    <label> Do not share my email </label>
					    <div>
					        <input name="do_not_share_my_email" ng-model="updateDataElem.do_not_share_my_email" class="form-control" placeholder="Do not share my email">
					    </div>
					</div>
					<div class="form-group">
					    <label> Membership type </label>
					    <div>
					        <input name="membership_type" ng-model="updateDataElem.membership_type" class="form-control" placeholder="Membership type">
					    </div>
					</div>
					<div class="form-group">
					    <label> Annual dues </label>
					    <div>
					        <input name="annual_dues" ng-model="updateDataElem.annual_dues" class="form-control" placeholder="Annual dues">
					    </div>
					</div>
					<div class="form-group">
					    <label> Pre registration member </label>
					    <div>
					        <input name="pre_registration_member" ng-model="updateDataElem.pre_registration_member" class="form-control" placeholder="Pre registration member">
					    </div>
					</div>
					<div class="form-group">
					    <label> Pre registration non member </label>
					    <div>
					        <input name="pre_registration_non_member" ng-model="updateDataElem.pre_registration_non_member" class="form-control" placeholder="Pre registration non member">
					    </div>
					</div>
					<div class="form-group">
					    <label> Banquet </label>
					    <div>
					        <input name="banquet" ng-model="updateDataElem.banquet" class="form-control" placeholder="Banquet">
					    </div>
					</div>
					<div class="form-group">
					    <label> Banquet attendings number </label>
					    <div>
					        <input name="banquet_attendings_number" ng-model="updateDataElem.banquet_attendings_number" class="form-control" placeholder="Banquet attendings number">
					    </div>
					</div>
					<div class="form-group">
					    <label> Donat </label>
					    <div>
					        <input name="donat" ng-model="updateDataElem.donat" class="form-control" placeholder="Donat">
					    </div>
					</div>

				</div>
				<div class="col-md-6">
					<div class="form-group">
					    <label> Director first name </label>
					    <div>
					        <input name="director_first_name" ng-model="updateDataElem.director_first_name" class="form-control" placeholder="Director first name">
					    </div>
					</div>
					<div class="form-group">
					    <label> Director middle initial </label>
					    <div>
					        <input name="director_middle_initial" ng-model="updateDataElem.director_middle_initial" class="form-control" placeholder="Director middle initial">
					    </div>
					</div>
					<div class="form-group">
					    <label> Director last name </label>
					    <div>
					        <input name="director_last_name" ng-model="updateDataElem.director_last_name" class="form-control" placeholder="Director last name">
					    </div>
					</div>
					<div class="form-group">
					    <label> Home phone </label>
					    <div>
					        <input name="home_phone" ng-model="updateDataElem.home_phone" class="form-control" placeholder="Home phone">
					    </div>
					</div>
					<div class="form-group">
					    <label> Address </label>
					    <div>
					        <input name="address" ng-model="updateDataElem.address" class="form-control" placeholder="Address">
					    </div>
					</div>
					<div class="form-group">
					    <label> City </label>
					    <div>
					        <input name="city" ng-model="updateDataElem.city" class="form-control" placeholder="City">
					    </div>
					</div>
					<div class="form-group">
					    <label> State </label>
					    <div>
					        <input name="state" ng-model="updateDataElem.state" class="form-control" placeholder="State">
					    </div>
					</div>
					<div class="form-group">
					    <label> Zip </label>
					    <div>
					        <input name="zip" ng-model="updateDataElem.zip" class="form-control" placeholder="Zip">
					    </div>
					</div>
					<div class="form-group">
					    <label> Email </label>
					    <div>
					        <input name="email" ng-model="updateDataElem.email" class="form-control" placeholder="Email">
					    </div>
					</div>
					<div class="form-group">
					    <label> Password </label>
					    <div>
					        <input name="password" ng-model="updateDataElem.password" class="form-control" placeholder="Password">
					    </div>
					</div>
					<div class="form-group">
					    <label> Directors main instrument </label>
					    <div>
					        <input name="directors_main_instrument" ng-model="updateDataElem.directors_main_instrument" class="form-control" placeholder="Directors main instrument">
					    </div>
					</div>
					<div class="form-group">
					    <label> New member </label>
					    <div>
					        <input name="new_member" ng-model="updateDataElem.new_member" class="form-control" placeholder="New member">
					    </div>
					</div>
					<div class="form-group">
					    <label> School name </label>
					    <div>
					        <input name="school_name" ng-model="updateDataElem.school_name" class="form-control" placeholder="School name">
					    </div>
					</div>
					<div class="form-group">
					    <label> School phone </label>
					    <div>
					        <input name="school_phone" ng-model="updateDataElem.school_phone" class="form-control" placeholder="School phone">
					    </div>
					</div>
					<div class="form-group">
					    <label> Principals name </label>
					    <div>
					        <input name="principals_name" ng-model="updateDataElem.principals_name" class="form-control" placeholder="Principals name">
					    </div>
					</div>
					<div class="form-group">
					    <label> Past president </label>
					    <div>
					        <input name="past_president" ng-model="updateDataElem.past_president" class="form-control" placeholder="Past president">
					    </div>
					</div>
				</div>
			</div>
		</div>


		<br>
		<br>
		<hr>
		<br>
		<br>

		<h2 align='center'>Studnets</h2>


		<br>



		<div class="students container row" ng-if='students'>
			<div ng-repeat="n in students" class='student  col-md-6'>
				<h3>Student #{{n.id}}</h3>


				<div class="form-group">
				    <label> Band </label>
				    <div>
				        <input name="" ng-model="band" class="form-control" placeholder="first_name">
				    </div>
				</div>

				<div hidden>
					{{(n.band == 2) ? band = 'CBDA High School All-State Honor Band' : '' }}
					{{(n.band == 4) ? band = 'CODA High School All-State Orchestra' : '' }}
					{{(n.band == 5) ? band = 'Either the All-State Band OR the All-State Orchestra' : '' }}
					{{(n.band == 1) ? band = 'CBDA Junior High School All-State Honor Bands (Symphonic, Concert)' : '' }}
					{{(n.band == 3) ? band = 'CBDA/CAJ High School All-State Jazz Band' : '' }}
					{{(n.band == 6) ? band = 'CBDA/CAJ Junior High All State Jazz Band' : '' }}
				</div>

				

				<div class="form-group">
				    <label> Instrument </label>
				    <div>
				        <input name="" ng-model="instrument" class="form-control" placeholder="">
				    </div>
				</div>

				<div hidden>
					{{(n.band == 49) ? instrument = 'Alto Saxophone' : '' }}
					{{(n.band == 50) ? instrument = 'Tenor Saxophone' : '' }}
					{{(n.band == 51) ? instrument = 'Baritone Saxophone' : '' }}
					{{(n.band == 52) ? instrument = 'Trumpet' : '' }}
					{{(n.band == 53) ? instrument = 'Trombone' : '' }}
					{{(n.band == 54) ? instrument = 'Bass Trombone' : '' }}
					{{(n.band == 55) ? instrument = 'Piano' : '' }}
					{{(n.band == 56) ? instrument = 'Guitar' : '' }}
					{{(n.band == 57) ? instrument = 'Bass' : '' }}
					{{(n.band == 58) ? instrument = 'Drums' : '' }}
					{{(n.band == 59) ? instrument = 'Vibes' : '' }}
				</div>



				<div class="form-group">
				    <label> first_name </label>
				    <div>
				        <input name="donat" ng-model="n.first_name" class="form-control" placeholder="first_name">
				    </div>
				</div>

				
				<div class="form-group">
				    <label> first_name </label>
				    <div>
				        <input name="donat" ng-model="n.first_name" class="form-control" placeholder="first_name">
				    </div>
				</div>

				<div class="form-group">
				    <label> middle_initial </label>
				    <div>
				        <input name="donat" ng-model="n.middle_initial" class="form-control" placeholder="middle_initial">
				    </div>
				</div>

				<div class="form-group">
				    <label> last_name </label>
				    <div>
				        <input name="donat" ng-model="n.last_name" class="form-control" placeholder="last_name">
				    </div>
				</div>

				<div class="form-group">
				    <label> address </label>
				    <div>
				        <input name="donat" ng-model="n.address" class="form-control" placeholder="address">
				    </div>
				</div>

				<div class="form-group">
				    <label> city </label>
				    <div>
				        <input name="donat" ng-model="n.city" class="form-control" placeholder="city">
				    </div>
				</div>

				<div class="form-group">
				    <label> zip </label>
				    <div>
				        <input name="donat" ng-model="n.zip" class="form-control" placeholder="zip">
				    </div>
				</div>

				<div class="form-group">
				    <label> parent_email </label>
				    <div>
				        <input name="donat" ng-model="n.parent_email" class="form-control" placeholder="parent_email">
				    </div>
				</div>

				<div class="form-group">
				    <label> student_email </label>
				    <div>
				        <input name="donat" ng-model="n.student_email" class="form-control" placeholder="student_email">
				    </div>
				</div>

				<div class="form-group">
				    <label> grade_year </label>
				    <div>
				        <input name="donat" ng-model="n.grade_year" class="form-control" placeholder="grade_year">
				    </div>
				</div>

				<div class="form-group">
				    <label> gender </label>
				    <div>
				        <input name="donat" ng-model="n.gender" class="form-control" placeholder="gender">
				    </div>
				</div>

			</div>	
		</div>
		




		
	  
		<a href="#/data/index" class="btn btn-default">Cancel</a> 
		<button ng-click="updateData(updateDataElem);" 
                ng-disabled="myForm.$invalid"
                type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

